/*body background css*/
body{
  padding: 0;
  margin: 0;
  background: url(images/preheaderbrand.png)no-repeat;
  background-size: cover;
  font-family:Inter,system-ui,Segoe UI,Roboto,Arial;
}

/*login form css*/
.form{
  font-family: "Roboto", sans-serif;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  opacity: 99%;
  max-width: 260px;
  margin: 200px auto 100px;
  padding: 10px 45px 30px 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}

.form p{
  font-size: 19px;
  padding: 1px;
  text-align: center;
  color: #6a0dad;
  font-weight: 700;
}

.form img{
  width: 90px;
  height: auto;
  padding-right: 6px;
  position: relative;
  top: 6px;
  margin-bottom: 10px;
}

.form input{
  outline: 0;
  border-radius: 10px;
  background: #F2F2F2;
  border: none;
  display: block;
  margin: 0 0 15px;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form input:hover{
  background-color: #FFD966;
  transition: all is ease 0s;
}

.form input:focus{
  background-color: #D3F8F9;
  transition: all is ease 0s;
}

.form button{
  text-transform: uppercase;
  background: #6a0dad;
  border: none;
  border-radius: 10px;
  padding: 15px ;
  width: 100%;
  color: #FFD966;
  outline: 0;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  transition: 0.3s;
}

.form button:hover, .form button:active, .form button:focus{
  background-color: #4c0480;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
  transition: all is ease 0s;
}

.form .message{
  margin: 15px 0 0;
  color: #FFD966;
  font-size: 12px;
}

.form .message a{
  color: #6a0dad;
  text-decoration: none;
}